progress_tracking_agent.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "track-progress",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "040b8626-c38b-4b62-9212-a49ad56a013c",
            "name": "Webhook (Track Progress)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                -976,
                192
            ],
            "webhookId": "progress-tracker-id-5678"
        },
        {
            "parameters": {
                "jsCode": "var body = $input.item.json.body;\nvar quizScore = body.quizResults.score / body.quizResults.total;\nvar selfRating = body.selfRatingAfter / 10;\nvar estimatedMinutes = body.estimatedMinutes || 30;\nvar engagement = Math.min(body.sessionDurationMinutes / estimatedMinutes, 1.0);\n\nvar calculatedMastery = Math.round((quizScore * 0.6 + selfRating * 0.3 + engagement * 0.1) * 100);\nvar previousMastery = body.previousMasteryScore || 0;\nvar passed = (body.quizResults.score / body.quizResults.total) >= 0.7;\nvar nodeColor = calculatedMastery >= 70 ? 'mastered' : 'learning';\nvar xpEarned = body.quizResults.score * 20;\n\nreturn {\n  body: body,\n  calculatedMastery: calculatedMastery,\n  previousMastery: previousMastery,\n  passed: passed,\n  nodeColor: nodeColor,\n  xpEarned: xpEarned\n};"
            },
            "id": "edc8e0ab-6477-4408-a5d8-c93d78e38a69",
            "name": "Mastery Calculator",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -720,
                192
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Pre-calculated values (include these EXACTLY in your output):\nmasteryScore: {{ $json.calculatedMastery }}\npreviousMastery: {{ $json.previousMastery }}\nnodeColorUpdate: {{ $json.nodeColor }}\nxpEarned: {{ $json.xpEarned }}\npassed: {{ $json.passed }}\n\nContext for recommendations:\nUser ID: {{ $json.body.userId }}\nTopic ID: {{ $json.body.topicId }}\nCurrent Topic: {{ $json.body.topicName }}\nWrong Questions: {{ JSON.stringify($json.body.quizResults.wrongQuestions) }}\nExam Date: {{ $json.body.examDate }}\nAll Topic Masteries: {{ JSON.stringify($json.body.allTopicMasteries) }}\n\nGenerate the full structured response now.",
                "hasOutputParser": true,
                "messages": {
                    "messageValues": [
                        {
                            "type": "system",
                            "message": "You are a Progress Tracking and Study Planning AI.\n\nThe following values have been PRE-CALCULATED. You MUST include them EXACTLY as given in your output — do not recalculate:\n- masteryScore: the pre-calculated value from input\n- masteryDelta.before: the previousMastery value from input\n- masteryDelta.after: same as masteryScore\n- nodeColorUpdate: the nodeColor from input (one of: unstarted, learning, mastered)\n- xpEarned: the pre-calculated value from input\n- passed: the pre-calculated boolean from input\n\nYour ONLY tasks are:\n1. Select the next best topic from allTopicMasteries (lowest mastery score first).\n   - If examDate is set and < 7 days away: prioritize the weakest topics.\n2. If examDate is set: generate a day-by-day rescue plan.\n   - Assign 1-2 topics per day based on estimated study time.\n   - Weakest topics get more time per day.\n   - Final day = Mock Exam from all topics.\n3. If examDate is not set, return an empty studyPlanUpdate: {}.\n\nYour output must exactly match the required JSON schema."
                        }
                    ]
                }
            },
            "id": "b7f6e257-ecb6-4482-8e4e-b9ad3d8ed937",
            "name": "Progress & Planning Agent",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                -464,
                192
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "options": {
                    "temperature": 0.2
                }
            },
            "id": "22c70527-7b57-46e1-8abe-374204307f9f",
            "name": "OpenAI Model (Progress)",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                -464,
                400
            ],
            "credentials": {
                "openAiApi": {
                    "id": "CqeQVnlFiniYcQFu",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"masteryScore\": { \"type\": \"number\" },\n    \"masteryDelta\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"before\": { \"type\": \"number\" },\n        \"after\": { \"type\": \"number\" }\n      },\n      \"required\": [\"before\", \"after\"]\n    },\n    \"nodeColorUpdate\": {\n      \"type\": \"string\",\n      \"enum\": [\"unstarted\", \"learning\", \"mastered\"]\n    },\n    \"xpEarned\": { \"type\": \"number\" },\n    \"passed\": { \"type\": \"boolean\" },\n    \"nextTopicRecommendation\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"topicId\": { \"type\": \"string\" },\n        \"topicName\": { \"type\": \"string\" },\n        \"reason\": { \"type\": \"string\" }\n      },\n      \"required\": [\"topicId\", \"topicName\", \"reason\"]\n    },\n    \"studyPlanUpdate\": {\n      \"type\": \"object\",\n      \"additionalProperties\": {\n        \"type\": \"array\",\n        \"items\": { \"type\": \"string\" }\n      }\n    }\n  },\n  \"required\": [\"masteryScore\", \"masteryDelta\", \"nodeColorUpdate\", \"xpEarned\", \"passed\", \"nextTopicRecommendation\", \"studyPlanUpdate\"]\n}"
            },
            "id": "72d98d98-7630-431f-bb94-f756fdbea114",
            "name": "Structured Output Parser (Progress)",
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1,
            "position": [
                -256,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "var llmOutput = $input.item.json;\nvar calcData = $('Mastery Calculator').item.json;\n\nreturn {\n  userId: calcData.body.userId,\n  topicId: calcData.body.topicId,\n  masteryScore: llmOutput.masteryScore,\n  nodeColorUpdate: llmOutput.nodeColorUpdate,\n  xpEarned: llmOutput.xpEarned,\n  passed: llmOutput.passed,\n  masteryDelta: llmOutput.masteryDelta,\n  nextTopicRecommendation: llmOutput.nextTopicRecommendation,\n  studyPlanUpdate: llmOutput.studyPlanUpdate,\n  lastStudiedAt: new Date().toISOString()\n};"
            },
            "id": "f1e2d3c4-5678-90ab-cdef-111122223333",
            "name": "Prepare MongoDB Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -144,
                192
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "collection": "Topics",
                "updateKey": "topicId",
                "fields": "masteryScore,nodeColorUpdate,lastStudiedAt",
                "options": {}
            },
            "id": "8395dda7-bedf-460d-a2dc-cf1a36a31e83",
            "name": "MongoDB (Update Topic Mastery)",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                112,
                0
            ],
            "credentials": {
                "mongoDb": {
                    "id": "U9Xo9CgJZYpQY8so",
                    "name": "MongoDB account"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "collection": "Users",
                "updateKey": "userId",
                "fields": "xpEarned",
                "options": {}
            },
            "id": "055a8ded-e29e-49f9-a2be-e542ffa1167c",
            "name": "MongoDB (Update User XP)",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                112,
                192
            ],
            "credentials": {
                "mongoDb": {
                    "id": "U9Xo9CgJZYpQY8so",
                    "name": "MongoDB account"
                }
            }
        },
        {
            "parameters": {
                "operation": "insert",
                "collection": "QuizResults",
                "fields": "={{ JSON.stringify({ userId: $json.userId, topicId: $json.topicId, score: $('Mastery Calculator').item.json.body.quizResults.score, total: $('Mastery Calculator').item.json.body.quizResults.total, xpEarned: $json.xpEarned, passed: $json.passed, createdAt: new Date().toISOString() }) }}",
                "options": {}
            },
            "id": "076d0366-b923-4551-8635-24773ef02406",
            "name": "MongoDB (Save QuizResult)",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                112,
                384
            ],
            "credentials": {
                "mongoDb": {
                    "id": "U9Xo9CgJZYpQY8so",
                    "name": "MongoDB account"
                }
            }
        }
    ],
    "connections": {
        "Webhook (Track Progress)": {
            "main": [
                [
                    {
                        "node": "Mastery Calculator",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mastery Calculator": {
            "main": [
                [
                    {
                        "node": "Progress & Planning Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Progress & Planning Agent": {
            "main": [
                [
                    {
                        "node": "Prepare MongoDB Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare MongoDB Data": {
            "main": [
                [
                    {
                        "node": "MongoDB (Update Topic Mastery)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "MongoDB (Update User XP)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "MongoDB (Save QuizResult)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Model (Progress)": {
            "ai_languageModel": [
                [
                    {
                        "node": "Progress & Planning Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Structured Output Parser (Progress)": {
            "ai_outputParser": [
                [
                    {
                        "node": "Progress & Planning Agent",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "2565f42edf886721a412c37586cfc18b01c46cebbe0dbb154a96503c85a9a495"
    }
}