quiz_generator_agent.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generate-quiz",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "386a6321-e0a8-4df2-95fa-2415346aa13a",
            "name": "Webhook (Generate Quiz)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                -32,
                80
            ],
            "webhookId": "quiz-generator-id-1234"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Topic: {{ $json.body.topicName }}\nConcepts Covered: {{ $json.body.conceptsCovered }}\nUser Mastery Level: {{ $json.body.userMasteryLevel }}\nPrevious Quiz Score: {{ $json.body.previousQuizScore }}\n\nGenerate the quiz now.",
                "hasOutputParser": true,
                "messages": {
                    "messageValues": [
                        {
                            "message": "You are a Quiz Generator AI Agent.\n\nGenerate exactly 10 multiple-choice questions based ONLY on the concepts covered in this session. Do not test general knowledge — test what was specifically taught.\n\nDifficulty calibration:\n- mastery 1-3: simple recall questions\n- mastery 4-6: application questions\n- mastery 7-10: analysis/edge-case questions\n- If previousQuizScore < 60: make this quiz SIMPLER than last time.\n\nEach question must have exactly 4 options, one correct answer (represented as the integer index 0-3), and a brief explanation of WHY the correct answer is right (used in the 'Explain' button).\n\nAlways return a timeLimit of 600 (10 minutes) for every quiz.\n\nYour output must exactly match the JSON schema."
                        }
                    ]
                }
            },
            "id": "8f2c5eb5-28c6-4589-adbe-ec0c272402da",
            "name": "Quiz Generator Agent",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                240,
                80
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "options": {
                    "temperature": 0.5
                }
            },
            "id": "f90cb55b-b4db-40e3-b01a-5b5156ae1c7e",
            "name": "OpenAI Model (Quiz)",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                240,
                272
            ],
            "credentials": {
                "openAiApi": {
                    "id": "CqeQVnlFiniYcQFu",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"questions\": {\n      \"type\": \"array\",\n      \"minItems\": 10,\n      \"maxItems\": 10,\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"question\": { \"type\": \"string\" },\n          \"options\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" },\n            \"minItems\": 4,\n            \"maxItems\": 4\n          },\n          \"correct\": { \"type\": \"integer\", \"minimum\": 0, \"maximum\": 3 },\n          \"explanation\": { \"type\": \"string\" }\n        },\n        \"required\": [\"question\", \"options\", \"correct\", \"explanation\"]\n      }\n    },\n    \"timeLimit\": { \"type\": \"number\", \"default\": 600 }\n  },\n  \"required\": [\"questions\", \"timeLimit\"]\n}"
            },
            "id": "a6220c54-4038-445c-8c9c-ebc9b4aa5f38",
            "name": "Structured Output Parser",
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1,
            "position": [
                416,
                272
            ]
        }
    ],
    "connections": {
        "Webhook (Generate Quiz)": {
            "main": [
                [
                    {
                        "node": "Quiz Generator Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Model (Quiz)": {
            "ai_languageModel": [
                [
                    {
                        "node": "Quiz Generator Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Structured Output Parser": {
            "ai_outputParser": [
                [
                    {
                        "node": "Quiz Generator Agent",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "2565f42edf886721a412c37586cfc18b01c46cebbe0dbb154a96503c85a9a495"
    }
}