tutor_agent.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "upload",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "023cd78a-1a37-4438-96e5-2c256b33ba2a",
            "name": "Webhook (File Upload)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                -1312,
                3440
            ],
            "webhookId": "6e2dc195-5093-4c60-ab87-aeb31c230d02"
        },
        {
            "parameters": {
                "operation": "extractFromTextFile"
            },
            "id": "a7bd971c-30a8-4bf3-ae98-39e5209aa06d",
            "name": "Extract Text",
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1,
            "position": [
                -864,
                3680
            ]
        },
        {
            "parameters": {
                "mode": "insert",
                "pineconeIndex": {
                    "value": "neuralnest-os",
                    "mode": "list"
                },
                "options": {}
            },
            "id": "e251b722-4ec4-44fb-8e81-a8a1c8f17ffd",
            "name": "Pinecone (Insert)",
            "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
            "typeVersion": 1.3,
            "position": [
                -608,
                3024
            ],
            "credentials": {
                "pineconeApi": {
                    "id": "w23IfFOsnayIRmtw",
                    "name": "Pinecone account"
                }
            }
        },
        {
            "parameters": {
                "dataType": "binary",
                "textSplittingMode": "custom",
                "options": {}
            },
            "id": "ca5421a7-f33d-4db8-a851-1549123fbcab",
            "name": "Default Data Loader",
            "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
            "typeVersion": 1.1,
            "position": [
                -512,
                3248
            ]
        },
        {
            "parameters": {
                "chunkOverlap": 200,
                "options": {}
            },
            "id": "211cef62-a975-451a-85d7-507de03c9851",
            "name": "Recursive Character Text Splitter",
            "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
            "typeVersion": 1,
            "position": [
                -432,
                3456
            ]
        },
        {
            "parameters": {
                "jsCode": "var text = $input.item.json.text || $input.item.json.data || '';\nvar fileName = ($input.item.binary && $input.item.binary.data && $input.item.binary.data.fileName) ? $input.item.binary.data.fileName : '';\nvar isPdf = fileName.toLowerCase().endsWith('.pdf');\n\nvar topics = [];\n\nif (!isPdf) {\n  // MD / TXT: extract markdown headings (# ## ###)\n  var lines = text.split('\\n');\n  for (var i = 0; i < lines.length; i++) {\n    var line = lines[i].trim();\n    var match = line.match(/^#{1,3}\\s+(.+)$/);\n    if (match && match[1].length > 2) {\n      var topicName = match[1].replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1').replace(/#/g, '').trim();\n      if (topicName && !topics.find(function(t) { return t.name === topicName; })) {\n        topics.push({ name: topicName, difficulty: 'medium', estimatedMinutes: 30 });\n      }\n    }\n  }\n} else {\n  // PDF: look for ALL-CAPS lines or lines ending with colon (chapter/section markers)\n  var pdfLines = text.split('\\n');\n  for (var j = 0; j < pdfLines.length; j++) {\n    var pl = pdfLines[j].trim();\n    // Skip very short lines, page numbers, or lines that are purely numeric\n    if (pl.length < 4 || /^\\d+$/.test(pl)) continue;\n    var isHeading = (pl === pl.toUpperCase() && pl.length > 4 && pl.length < 80) ||\n                   (pl.endsWith(':') && pl.length < 80 && pl.split(' ').length <= 8);\n    if (isHeading && !topics.find(function(t) { return t.name === pl; })) {\n      topics.push({ name: pl.replace(/:$/, '').trim(), difficulty: 'medium', estimatedMinutes: 30 });\n    }\n  }\n}\n\n// Cap at 20 topics\nif (topics.length > 20) topics = topics.slice(0, 20);\n\n// Fallback if nothing found\nif (topics.length === 0) {\n  var firstLine = text.split('\\n').find(function(l) { return l.trim().length > 4; }) || 'Document Content';\n  topics = [{ name: firstLine.trim().substring(0, 60), difficulty: 'medium', estimatedMinutes: 30 }];\n}\n\nreturn { message: { content: JSON.stringify({ topics: topics }) } };"
            },
            "id": "a3e95e3f-56d0-431e-a9d9-901290a931f5",
            "name": "OpenAI Topic Extractor",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -496,
                3632
            ]
        },
        {
            "parameters": {
                "operation": "insert",
                "collection": "Topics",
                "fields": "={{ $json.message.content }}",
                "options": {}
            },
            "id": "53f2384b-c2f7-42e1-8114-b0112b8f2952",
            "name": "MongoDB (Save Topics)",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                -144,
                3632
            ],
            "credentials": {
                "mongoDb": {
                    "id": "U9Xo9CgJZYpQY8so",
                    "name": "MongoDB account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "try {\n  // Read from Topic Extractor node directly — MongoDB output doesn't carry message.content\n  var topicNode = $('OpenAI Topic Extractor').item.json;\n  var rawContent = (topicNode.message && topicNode.message.content) ? topicNode.message.content : '{\"topics\": []}';\n  var extractedData = JSON.parse(rawContent);\n  var topics = extractedData.topics || [];\n  var roadmapNodes = topics.map(function(topic, index) {\n    return {\n      id: 'topic-' + index,\n      label: typeof topic === 'string' ? topic : (topic.name || 'Topic ' + (index + 1)),\n      status: 'unstarted',\n      position: { x: 250, y: index * 120 },\n      difficulty: topic.difficulty || 'medium',\n      estimatedMinutes: topic.estimatedMinutes || 30\n    };\n  });\n  return { topics: topics, roadmapNodes: roadmapNodes };\n} catch (error) {\n  return { topics: [], roadmapNodes: [], error: error.message };\n}"
            },
            "id": "e9e03394-c16a-4523-bacd-99917326416d",
            "name": "Format Webhook Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                80,
                3632
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "id": "e295def7-d806-450b-8700-4da4ad2e3c4d",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                304,
                3632
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ask-tutor",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "2f7ba059-6881-4643-859e-410394d5e743",
            "name": "Webhook (Ask Question)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                -1312,
                2592
            ],
            "webhookId": "6bc7f4ae-f173-42a9-b745-b0410d37fe47"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=User Query: {{ $json.body.question }}\nCurrent topic: {{ $json.body.topicName }}\nMastery Level: {{ $json.body.masteryLevel }}\nExplanation Level: {{ $json.body.explanationLevel }}",
                "options": {
                    "systemMessage": "You are NeuralNest, an adaptive AI tutor. You teach one concept at a time.\n\nRules:\n- NEVER dump the full topic. Teach in a single focused chunk.\n- Always end with exactly one comprehension check question.\n- If the user says they are confused, COMPLETELY CHANGE your explanation style.\n  Never repeat the same phrasing. Try: simpler language → analogy → step-by-step.\n- Use the provided mastery score (out of 10) to judge how deeply to go.\n\nExplanation Level Calibrations:\n  BEGINNER:\n  - Define every jargon term the moment you first use it.\n  - Use real-life examples for every concept.\n  - Use simple, conversational language.\n  - Assume the user knows nothing. Start from first principles.\n  INTERMEDIATE:\n  - Briefly define jargon only if domain-specific.\n  - Include one example per concept, can be technical.\n  - Do not over-explain basics they likely know.\n  ADVANCED:\n  - Use full technical jargon without defining it.\n  - Be concise and precise — study-notes style.\n  - No real-life analogies unless asked.\n  - Pack more information per sentence. Be accurate and complete.\n\nCRITICAL: You must output ONLY a raw JSON object (no markdown, no backticks). Do not include any text outside this JSON structure:\n{\n  \"explanation\": \"string — the teaching chunk\",\n  \"checkpoint_question\": \"string — comprehension check e.g. 'Did that click?'\",\n  \"doubt_prompt\": \"Do you have any doubts or questions before we move on?\",\n  \"next_action\": \"CONTINUE | GO_DEEPER | GO_SIMPLER | ANSWER_DOUBT\",\n  \"explanation_mode\": \"standard | simpler | analogy | step_by_step\"\n}"
                }
            },
            "id": "63ec086b-eec0-4e3f-941e-c094205743c5",
            "name": "Tutor AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.6,
            "position": [
                -1024,
                2384
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "options": {
                    "temperature": 0.7
                }
            },
            "id": "c2c79cb1-ce16-4db2-aca0-8fe175770715",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.1,
            "position": [
                -1088,
                2608
            ],
            "credentials": {
                "openAiApi": {
                    "id": "CqeQVnlFiniYcQFu",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $json.body.userId || 'default-session' }}"
            },
            "id": "b289728d-3d4c-498a-a9da-301c9dcff31e",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.2,
            "position": [
                -960,
                2608
            ]
        },
        {
            "parameters": {
                "mode": "retrieve-as-tool",
                "toolDescription": "Call this tool to search the uploaded syllabus documents for answers to the user's question.",
                "pineconeIndex": {
                    "__rl": true,
                    "value": "neuralnest-os",
                    "mode": "list",
                    "cachedResultName": "neuralnest-os"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
            "typeVersion": 1.3,
            "position": [
                -832,
                2608
            ],
            "id": "5541528b-d702-46f3-b845-05e91062e2b9",
            "name": "Pinecone Vector Store",
            "credentials": {
                "pineconeApi": {
                    "id": "w23IfFOsnayIRmtw",
                    "name": "Pinecone account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "try {\n  var raw = $input.item.json.output || '{}';\n  raw = raw.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  var parsed = JSON.parse(raw);\n  return {\n    explanation: parsed.explanation || '',\n    checkpoint_question: parsed.checkpoint_question || '',\n    doubt_prompt: parsed.doubt_prompt || 'Do you have any doubts?',\n    next_action: parsed.next_action || 'CONTINUE',\n    explanation_mode: parsed.explanation_mode || 'standard'\n  };\n} catch(e) {\n  return { error: 'Parse failed', raw: $input.item.json.output, details: e.message };\n}"
            },
            "id": "6e26b3d0-a22b-4eed-be03-fbbdf7f1e9ba",
            "name": "Format Tutor Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -464,
                2592
            ]
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $binary.data.mimeType }}",
                                        "rightValue": "application/pdf",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "pdf-mime-check"
                                    }
                                ],
                                "combinator": "or"
                            },
                            "renameOutput": true,
                            "outputKey": "PDF"
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra"
                }
            },
            "id": "ad0969c8-4c37-4c21-884d-eb078c8bbf66",
            "name": "File Type Switch",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                -1088,
                3440
            ]
        },
        {
            "parameters": {
                "operation": "extractFromPdf"
            },
            "id": "14460f39-9ac8-42a1-b2c2-9fc6984f5b4d",
            "name": "Extract PDF",
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1,
            "position": [
                -864,
                3184
            ]
        },
        {
            "parameters": {
                "modelName": "embed-english-v3.0"
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
            "typeVersion": 1,
            "position": [
                -880,
                2816
            ],
            "id": "a4114fb5-9c8a-4402-a3bf-f36fe1642b03",
            "name": "Embeddings Cohere",
            "credentials": {
                "cohereApi": {
                    "id": "aqE5kb9GZySxhXht",
                    "name": "Cohere account"
                }
            }
        },
        {
            "parameters": {
                "modelName": "embed-english-v3.0"
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
            "typeVersion": 1,
            "position": [
                -640,
                3248
            ],
            "id": "279c1a14-afee-4d82-80c0-a8cbf175b2e1",
            "name": "Embeddings Cohere1",
            "credentials": {
                "cohereApi": {
                    "id": "aqE5kb9GZySxhXht",
                    "name": "Cohere account"
                }
            }
        }
    ],
    "connections": {
        "Webhook (File Upload)": {
            "main": [
                [
                    {
                        "node": "File Type Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Text": {
            "main": [
                [
                    {
                        "node": "Pinecone (Insert)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "OpenAI Topic Extractor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Default Data Loader": {
            "ai_document": [
                [
                    {
                        "node": "Pinecone (Insert)",
                        "type": "ai_document",
                        "index": 0
                    }
                ]
            ]
        },
        "Recursive Character Text Splitter": {
            "ai_textSplitter": [
                [
                    {
                        "node": "Default Data Loader",
                        "type": "ai_textSplitter",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Topic Extractor": {
            "main": [
                [
                    {
                        "node": "MongoDB (Save Topics)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MongoDB (Save Topics)": {
            "main": [
                [
                    {
                        "node": "Format Webhook Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Webhook Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook (Ask Question)": {
            "main": [
                [
                    {
                        "node": "Tutor AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tutor AI Agent": {
            "main": [
                [
                    {
                        "node": "Format Tutor Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Tutor AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Tutor AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Pinecone Vector Store": {
            "ai_tool": [
                [
                    {
                        "node": "Tutor AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "File Type Switch": {
            "main": [
                [
                    {
                        "node": "Extract PDF",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Extract Text",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract PDF": {
            "main": [
                [
                    {
                        "node": "Pinecone (Insert)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "OpenAI Topic Extractor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings Cohere": {
            "ai_embedding": [
                [
                    {
                        "node": "Pinecone Vector Store",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings Cohere1": {
            "ai_embedding": [
                [
                    {
                        "node": "Pinecone (Insert)",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "2565f42edf886721a412c37586cfc18b01c46cebbe0dbb154a96503c85a9a495"
    }
}