tutor_agent.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "upload",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "ce0a4b7d-98e5-4a39-9794-329c962f79bc",
            "name": "Webhook (File Upload)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                -624,
                384
            ],
            "webhookId": "6e2dc195-5093-4c60-ab87-aeb31c230d02"
        },
        {
            "parameters": {
                "operation": "extractFromTextFile"
            },
            "id": "38e350b8-946f-444e-91ca-ef403d30f33a",
            "name": "Extract Text",
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1,
            "position": [
                -352,
                384
            ]
        },
        {
            "parameters": {
                "mode": "insert",
                "pineconeIndex": {
                    "value": "neuralnest-os",
                    "mode": "list"
                },
                "options": {}
            },
            "id": "aed78125-021f-4a0c-be30-4972faaefbdd",
            "name": "Pinecone (Insert)",
            "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
            "typeVersion": 1.3,
            "position": [
                -16,
                128
            ],
            "credentials": {
                "pineconeApi": {
                    "id": "w23IfFOsnayIRmtw",
                    "name": "Pinecone account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "bcaaad2b-5928-4ebb-aff7-f03d122da4a3",
            "name": "Embeddings OpenAI 1",
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.1,
            "position": [
                -64,
                336
            ],
            "credentials": {
                "openAiApi": {
                    "id": "CqeQVnlFiniYcQFu",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "dataType": "binary",
                "textSplittingMode": "custom",
                "options": {}
            },
            "id": "0d9ddec2-fa63-452f-baf8-05d396d23049",
            "name": "Default Data Loader",
            "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
            "typeVersion": 1.1,
            "position": [
                96,
                336
            ]
        },
        {
            "parameters": {
                "chunkOverlap": 200,
                "options": {}
            },
            "id": "9d1bbfec-9cf3-4c57-918d-6f9f81e5932f",
            "name": "Recursive Character Text Splitter",
            "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
            "typeVersion": 1,
            "position": [
                96,
                496
            ]
        },
        {
            "parameters": {
                "jsCode": "var text = $input.item.json.text || $input.item.json.data || '';\n\n// Extract ## and ### headings as topics\nvar topics = [];\nvar lines = text.split('\\n');\nfor (var i = 0; i < lines.length; i++) {\n  var line = lines[i].trim();\n  var match = line.match(/^#{1,3}\\s+(.+)$/);\n  if (match && match[1].length > 2) {\n    var topicName = match[1].replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1').replace(/#/g, '').trim();\n    if (topicName && !topics.find(function(t) { return t.name === topicName; })) {\n      topics.push({ name: topicName, difficulty: 'medium', estimatedMinutes: 30 });\n    }\n  }\n}\n\n// Cap at 20 topics\nif (topics.length > 20) topics = topics.slice(0, 20);\n\n// Fallback if no headings found (e.g. plain PDF text)\nif (topics.length === 0) {\n  topics = [{ name: 'Document Content', difficulty: 'medium', estimatedMinutes: 30 }];\n}\n\nreturn { message: { content: JSON.stringify({ topics: topics }) } };"
            },
            "id": "37816ed5-fe5a-4e65-8318-4756e8f3aa25",
            "name": "OpenAI Topic Extractor",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -48,
                688
            ]
        },
        {
            "parameters": {
                "operation": "insert",
                "collection": "Topics",
                "fields": "={{ $json.message.content }}",
                "options": {}
            },
            "id": "38c4ce1e-736f-46dc-929f-2147eb2b86cc",
            "name": "MongoDB (Save Topics)",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                208,
                688
            ],
            "credentials": {
                "mongoDb": {
                    "id": "U9Xo9CgJZYpQY8so",
                    "name": "MongoDB account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "try {\n  // Read from Topic Extractor node directly — MongoDB output doesn't carry message.content\n  var topicNode = $('OpenAI Topic Extractor').item.json;\n  var rawContent = (topicNode.message && topicNode.message.content) ? topicNode.message.content : '{\"topics\": []}';\n  var extractedData = JSON.parse(rawContent);\n  var topics = extractedData.topics || [];\n  var roadmapNodes = topics.map(function(topic, index) {\n    return {\n      id: 'topic-' + index,\n      label: typeof topic === 'string' ? topic : (topic.name || 'Topic ' + (index + 1)),\n      status: 'unstarted',\n      position: { x: 250, y: index * 120 },\n      difficulty: topic.difficulty || 'medium',\n      estimatedMinutes: topic.estimatedMinutes || 30\n    };\n  });\n  return { topics: topics, roadmapNodes: roadmapNodes };\n} catch (error) {\n  return { topics: [], roadmapNodes: [], error: error.message };\n}"
            },
            "id": "7183aa84-9703-4072-ae70-1fca0b360cba",
            "name": "Format Webhook Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                464,
                688
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                704,
                688
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ask-tutor",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "6457aa43-9a61-4eac-a7fc-0ef72eca4462",
            "name": "Webhook (Ask Question)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                816,
                208
            ],
            "webhookId": "6bc7f4ae-f173-42a9-b745-b0410d37fe47"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=User Query: {{ $json.body.question }}\nCurrent topic: {{ $json.body.topicName }}\nMastery Level: {{ $json.body.masteryLevel }}\nExplanation Level: {{ $json.body.explanationLevel }}",
                "options": {
                    "systemMessage": "You are NeuralNest, an adaptive AI tutor. You teach one concept at a time.\n\nRules:\n- NEVER dump the full topic. Teach in a single focused chunk.\n- Always end with exactly one comprehension check question.\n- If the user says they are confused, COMPLETELY CHANGE your explanation style.\n  Never repeat the same phrasing. Try: simpler language → analogy → step-by-step.\n- Use the provided mastery score (out of 10) to judge how deeply to go.\n\nExplanation Level Calibrations:\n  BEGINNER:\n  - Define every jargon term the moment you first use it.\n  - Use real-life examples for every concept.\n  - Use simple, conversational language.\n  - Assume the user knows nothing. Start from first principles.\n  INTERMEDIATE:\n  - Briefly define jargon only if domain-specific.\n  - Include one example per concept, can be technical.\n  - Do not over-explain basics they likely know.\n  ADVANCED:\n  - Use full technical jargon without defining it.\n  - Be concise and precise — study-notes style.\n  - No real-life analogies unless asked.\n  - Pack more information per sentence. Be accurate and complete.\n\nCRITICAL: You must output ONLY a raw JSON object (no markdown, no backticks). Do not include any text outside this JSON structure:\n{\n  \"explanation\": \"string — the teaching chunk\",\n  \"checkpoint_question\": \"string — comprehension check e.g. 'Did that click?'\",\n  \"doubt_prompt\": \"Do you have any doubts or questions before we move on?\",\n  \"next_action\": \"CONTINUE | GO_DEEPER | GO_SIMPLER | ANSWER_DOUBT\",\n  \"explanation_mode\": \"standard | simpler | analogy | step_by_step\"\n}"
                }
            },
            "id": "09a8f091-d410-411b-9c9c-9174a2e26f22",
            "name": "Tutor AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.6,
            "position": [
                1088,
                208
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "options": {
                    "temperature": 0.7
                }
            },
            "id": "10ae74d6-5dc4-464a-819c-76d374fe6b08",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.1,
            "position": [
                976,
                416
            ],
            "credentials": {
                "openAiApi": {
                    "id": "CqeQVnlFiniYcQFu",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $json.body.userId || 'default-session' }}",
                "contextWindowLength": 5
            },
            "id": "39c70753-3be0-4c8b-91c8-b39da2cd3cf6",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.2,
            "position": [
                1184,
                400
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "e352386a-eaae-4417-b91a-33bba9735659",
            "name": "Embeddings OpenAI 2",
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.1,
            "position": [
                1408,
                592
            ],
            "credentials": {
                "openAiApi": {
                    "id": "CqeQVnlFiniYcQFu",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "mode": "retrieve-as-tool",
                "toolDescription": "Call this tool to search the uploaded syllabus documents for answers to the user's question.",
                "pineconeIndex": {
                    "__rl": true,
                    "value": "neuralnest-os",
                    "mode": "list",
                    "cachedResultName": "neuralnest-os"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
            "typeVersion": 1.3,
            "position": [
                1312,
                416
            ],
            "id": "269211e7-dabf-4433-b805-803e17759621",
            "name": "Pinecone Vector Store",
            "credentials": {
                "pineconeApi": {
                    "id": "w23IfFOsnayIRmtw",
                    "name": "Pinecone account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "try {\n  var raw = $input.item.json.output || '{}';\n  raw = raw.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  var parsed = JSON.parse(raw);\n  return {\n    explanation: parsed.explanation || '',\n    checkpoint_question: parsed.checkpoint_question || '',\n    doubt_prompt: parsed.doubt_prompt || 'Do you have any doubts?',\n    next_action: parsed.next_action || 'CONTINUE',\n    explanation_mode: parsed.explanation_mode || 'standard'\n  };\n} catch(e) {\n  return { error: 'Parse failed', raw: $input.item.json.output, details: e.message };\n}"
            },
            "id": "f1e2d3c4-b5a6-7890-cdef-012345678901",
            "name": "Format Tutor Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1360,
                208
            ]
        }
    ],
    "connections": {
        "Webhook (File Upload)": {
            "main": [
                [
                    {
                        "node": "Extract Text",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Text": {
            "main": [
                [
                    {
                        "node": "Pinecone (Insert)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "OpenAI Topic Extractor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI 1": {
            "ai_embedding": [
                [
                    {
                        "node": "Pinecone (Insert)",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Default Data Loader": {
            "ai_document": [
                [
                    {
                        "node": "Pinecone (Insert)",
                        "type": "ai_document",
                        "index": 0
                    }
                ]
            ]
        },
        "Recursive Character Text Splitter": {
            "ai_textSplitter": [
                [
                    {
                        "node": "Default Data Loader",
                        "type": "ai_textSplitter",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Topic Extractor": {
            "main": [
                [
                    {
                        "node": "MongoDB (Save Topics)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MongoDB (Save Topics)": {
            "main": [
                [
                    {
                        "node": "Format Webhook Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Webhook Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook (Ask Question)": {
            "main": [
                [
                    {
                        "node": "Tutor AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tutor AI Agent": {
            "main": [
                [
                    {
                        "node": "Format Tutor Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Tutor AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Tutor AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI 2": {
            "ai_embedding": [
                [
                    {
                        "node": "Pinecone Vector Store",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Pinecone Vector Store": {
            "ai_tool": [
                [
                    {
                        "node": "Tutor AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "2565f42edf886721a412c37586cfc18b01c46cebbe0dbb154a96503c85a9a495"
    }
}